.hero {
  background: linear-gradient(90deg, #4731d3 65%, #cbf281 60%);
  display: grid;
  align-items: start;
  justify-content: center;
  padding: 45px 240px 135px 240px;
}

.hero_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_content_right {
  width: 350px;
  height: 375px;
  border-radius: 15px;
}

.hero_content_left {
  width: 528px;
  height: 375px;
  padding: 20px 20px 20px 0;
}

.hero_content_left h1 {
  font-size: 54px;
  color: #cbf281;
  line-height: 59.4px;
  font-weight: 700;
  font-family: "Inter";
}

.hero_content_left p {
  font-size: 24px;
  color: #fff;
  line-height: 29.05px;
  margin-top: 30px;
  font-weight: 700;
  font-family: "Inter";
}

.hero_buttons {
  margin-top: 50px;
}

.hero_buttons button {
  padding: 12px 20px 12px 12px;
  border-radius: 6px;
  border: 1px solid black;
  background: #fff;
  color: #3730a3;
  margin-right: 20px;
  font-family: "Inter";
}

.whoiam {
  font-size: 32px;
  line-height: 72px;
  font-weight: 700;
  color: #cbf281;
  margin-bottom: 50px;
  font-family: "Inter";
}
a {
  display: flex;
}
